
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap");

body {
    margin: 0;
    padding-top: 40px;
    scroll-behavior: smooth;
    background-color: rgb(12, 12, 12);
    color: rgb(251, 234, 202);
}

.navbar {
    background: #001a5ce3;
    padding: 15px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    z-index: 1000;
}

.navbar a {
    color: rgb(215, 234, 251);
    text-decoration: none;
    margin-right: 20px;
}


.sectmain h1 {
    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


hr {
    background-color: #395bb1e3;
    height: 2px;
    border: none;
}

.ascii-title {
    font-family: monospace;
    white-space: pre;
    color: white;
    font-size: 32px;
    line-height: 1;
}
.ascii-footer {
    font-family: monospace;
    white-space: pre;
    color: white;
    font-size: 8px;
    line-height: 1;
}